@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="btn btn-success">

    <a style="color:black" asp-area="" asp-controller="NewTable" asp-action="AddNewTable">اضافه کردن جدول</a>
</div>
<br />
<div class="btn btn-warning">
    <a style="color:black" asp-area="" asp-controller="AddValue" asp-action="ChooseTable">      جدول ها </a>
</div>